.root {

    /* Recordatorio:
    Los colores de este archivo funcionan bien cuando
    se hace referencia llamando a la variable de color
    pero los radios, bordes, tamaños, etc; deben ser
    configurados con el valor numérico directamente
     */

    /* --- 1. COLOR ROLES (Material You) --- */
    /* Primarios */
    -fx-primary: #D4AF37;
    -fx-on-primary: #1A1A1A;
    -fx-primary-container: #F5EFDC;
    -fx-on-primary-container: #3E2723;

    /* Secundarios (Tonos de apoyo) */
    -fx-secondary: #615E51;
    -fx-on-secondary: #FFFFFF;
    -fx-secondary-container: #E7E2D2;
    -fx-on-secondary-container: #1C1B1F;

    /* Superficies (Fondos de la app) */
    -fx-surface: #FFFBFE;
    -fx-surface-variant: #E7E0EC;
    -fx-on-surface: #1C1B1F;
    -fx-on-surface-variant: #49454F;

    /* Contenedores de Superficie */
    -fx-surface-container-low: #F7F2F9;
    -fx-surface-container: #F3EDF7;
    -fx-surface-container-high: #ECE6F0;

    /* Utilidades */
    -fx-outline: #79747E;
    -fx-outline-variant: #CAC4D0;
    -fx-error: #B3261E;
    -fx-on-error: #FFFFFF;

    /* Tendencias de estadísticas */
    -fx-positive-trend: #5CE65C;
    -fx-negative-trend: #FF2C2C;
    -fx-neutral-trend: #000000;

    /* --- 2. SHAPES (Radios de esquina M3) --- */
    -fx-shape-none: 0px;
    -fx-shape-extra-small: 4px;
    -fx-shape-small: 8px;
    -fx-shape-medium: 12px;
    -fx-shape-large: 16px;
    -fx-shape-extra-large: 28px;
    -fx-shape-full: 50px;

    /* --- 3. ELEVATIONS (Sombras M3) --- */
    -fx-elevation-1: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 3, 0, 0, 1);
    -fx-elevation-2: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 6, 0, 0, 2);
    -fx-elevation-3: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0, 0, 3);

    /* --- 4. SPACING (Rejilla de 8px) --- */
    -fx-space-xs: 4px;
    -fx-space-sm: 8px;
    -fx-space-md: 16px;
    -fx-space-lg: 24px;
    -fx-space-xl: 32px;
    -fx-space-xxl: 48px;

    /* --- 5. TIPOGRAFÍA (MD3) --- */
    /* Familia base */
    -fx-font-family-base: "Roboto", sans-serif;

    /* Rol: Label Large (usado para botones) */
    -fx-font-size-label-large: 14px;
    -fx-font-weight-label-large: 500; /* Equivale a Medium */
}

/* Titulo, subtitulo y logo */

.md-logo-section {

    -fx-spacing: 4;
    -fx-padding: 32 0 32 0;
}

.md-brand-title {

    -fx-text-fill: -fx-surface;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 22px;
}

.md-brand-subtitle {

    -fx-text-fill: -fx-surface;
    -fx-font-family: "Roboto";
    -fx-font-weight: 300;
    -fx-font-size: 12px;
}

/* Contenido principal */

.md-main-content {

    -fx-background-color: -fx-surface;
}

.md-page-title {

    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-text-fill: -fx-on-surface;
}

.md-page-subtitle {

    -fx-font-family: "Roboto";
    -fx-font-weight: 400;
    -fx-font-size: 14px;
    -fx-text-fill: -fx-on-surface-variant;
}

.md-section-title {

    -fx-font-family: "Roboto";
    -fx-font-weight: 500;
    -fx-font-size: 18px;
    -fx-text-fill: -fx-on-surface;
}

.md-sidebar {

    -fx-alignment: top-center;
    -fx-max-width: 280;
    -fx-min-width: 280;
    -fx-background-color: linear-gradient(to bottom, -fx-on-primary-container, -fx-on-primary);
}

.md-navbar-button-container {

    -fx-padding: 24;
    -fx-spacing: 4;
    -fx-alignment: top-center;
}

.md-menu-separator {

    -fx-background-color: -fx-outline-variant;
}

.md-menu-separator .line {

    -fx-border-color: -fx-outline-variant transparent transparent transparent;
}

.md-grid-pane {

    -fx-hgap: 16;
    -fx-vgap: 16;
}

.md-content-section {

    -fx-spacing: 24;
}

.md-section-group {

    -fx-spacing: 16;
}

.md-header-bar {

    -fx-padding: 24 32 24 32;
    -fx-alignment: center-left;
    -fx-spacing: 24;
}

.md-heading-group {

    -fx-spacing: 8;
    -fx-alignment: center-left;
}

.md-content-scroll {

    -fx-padding: 24;
}

.md-action-card-icon {
    -fx-min-width: 32;
    -fx-max-width: 32;
    -fx-pref-width: 32;
    -fx-min-height: 32;
    -fx-max-height: 32;
    -fx-pref-height: 32;
    -fx-background-color: -fx-on-surface;
    -fx-scale-shape: true;
}

.md-filter-column {

    -fx-spacing: 8;
    -fx-alignment: center-left;
}

.md-mfx-input {

    -mfx-main: -fx-primary;
    -fx-background-color: transparent;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-padding: 8 12 8 12;
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-text-fill: -fx-on-surface;
    -fx-min-height: 38px;
    -fx-max-height: 38px;
    -fx-pref-height: 38px;
}

.md-mfx-input:hover {

    -fx-border-color: -fx-on-surface;
}

.md-mfx-input:focused {

    -fx-border-color: -fx-primary;
    -fx-border-width: 2px;
}

.md-mfx-input .mfx-icon-wrapper .mfx-icon {

    -fx-fill: -fx-on-surface-variant;
}

.md-filter-label {

    -fx-font-family: "Roboto";
    -fx-font-weight: 400;
    -fx-text-fill: -fx-on-surface;
    -fx-font-size: 12px;
}

.md-searchfield-container {

    -fx-spacing: 8;
    -fx-padding: 8;
    -fx-alignment: center-left;
}

.md-filter-card {

    -fx-background-color: -fx-surface-variant;
    -fx-background-radius: 16;
    -fx-spacing: 24;
    -fx-padding: 16;
}

.md-filter-container {

    -fx-spacing: 24;
    -fx-alignment: bottom-left;
}

/* Lista de iconos */

.arrow-up-circle-icon {

    -fx-shape: "M440-320h80v-168l64 64 56-56-160-160-160 160 56 56 64-64v168Zm40 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z";
}

.avg-pace-icon {

    -fx-shape: "M574.5-774.5Q560-789 560-810t14.5-35.5Q589-860 610-860t35.5 14.5Q660-831 660-810t-14.5 35.5Q631-760 610-760t-35.5-14.5Zm0 660Q560-129 560-150t14.5-35.5Q589-200 610-200t35.5 14.5Q660-171 660-150t-14.5 35.5Q631-100 610-100t-35.5-14.5Zm160-520Q720-649 720-670t14.5-35.5Q749-720 770-720t35.5 14.5Q820-691 820-670t-14.5 35.5Q791-620 770-620t-35.5-14.5Zm0 380Q720-269 720-290t14.5-35.5Q749-340 770-340t35.5 14.5Q820-311 820-290t-14.5 35.5Q791-240 770-240t-35.5-14.5Zm60-190Q780-459 780-480t14.5-35.5Q809-530 830-530t35.5 14.5Q880-501 880-480t-14.5 35.5Q851-430 830-430t-35.5-14.5ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880v80q-134 0-227 93t-93 227q0 134 93 227t227 93v80Zm-56.5-343.5Q400-447 400-480q0-5 .5-10.5T403-501l-83-83 56-56 83 83q4-1 21-3 33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400q-33 0-56.5-23.5Z";
}

.category-icon {

    -fx-shape: "m260-520 220-360 220 360H260ZM700-80q-75 0-127.5-52.5T520-260q0-75 52.5-127.5T700-440q75 0 127.5 52.5T880-260q0 75-52.5 127.5T700-80Zm-580-20v-320h320v320H120Zm580-60q42 0 71-29t29-71q0-42-29-71t-71-29q-42 0-71 29t-29 71q0 42 29 71t71 29Zm-500-20h160v-160H200v160Zm202-420h156l-78-126-78 126Zm78 0ZM360-340Zm340 80Z";
}

.view-list-icon {

    -fx-shape: "M360-240h440v-107H360v107ZM160-613h120v-107H160v107Zm0 187h120v-107H160v107Zm0 186h120v-107H160v107Zm200-186h440v-107H360v107Zm0-187h440v-107H360v107ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Z";
}

.person-1-icon {

    -fx-shape: "M367-527q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm296.5-343.5Q560-607 560-640t-23.5-56.5Q513-720 480-720t-56.5 23.5Q400-673 400-640t23.5 56.5Q447-560 480-560t56.5-23.5ZM480-640Zm0 400Z";
}

.groups-icon {

    -fx-min-height: 22;
    -fx-max-height: 22;
    -fx-pref-height: 22;
    -fx-shape: "M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM247-527q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47Zm466 0q-47 47-113 47-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113q0 66-47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm296.5-343.5Q440-607 440-640t-23.5-56.5Q393-720 360-720t-56.5 23.5Q280-673 280-640t23.5 56.5Q327-560 360-560t56.5-23.5ZM360-240Zm0-400Z";
}

.groups-2-icon {

    -fx-min-height: 22;
    -fx-max-height: 22;
    -fx-pref-height: 22;
    -fx-shape: "M0-240v-63q0-43 44-70t116-27q13 0 25 .5t23 2.5q-14 21-21 44t-7 48v65H0Zm240 0v-65q0-32 17.5-58.5T307-410q32-20 76.5-30t96.5-10q53 0 97.5 10t76.5 30q32 20 49 46.5t17 58.5v65H240Zm540 0v-65q0-26-6.5-49T754-397q11-2 22.5-2.5t23.5-.5q72 0 116 26.5t44 70.5v63H780Zm-455-80h311q-10-20-55.5-35T480-370q-55 0-100.5 15T325-320ZM160-440q-33 0-56.5-23.5T80-520q0-34 23.5-57t56.5-23q34 0 57 23t23 57q0 33-23 56.5T160-440Zm640 0q-33 0-56.5-23.5T720-520q0-34 23.5-57t56.5-23q34 0 57 23t23 57q0 33-23 56.5T800-440Zm-320-40q-50 0-85-35t-35-85q0-51 35-85.5t85-34.5q51 0 85.5 34.5T600-600q0 50-34.5 85T480-480Zm0-80q17 0 28.5-11.5T520-600q0-17-11.5-28.5T480-640q-17 0-28.5 11.5T440-600q0 17 11.5 28.5T480-560Zm1 240Zm-1-280Z";
}

.calendar-icon {

    -fx-shape: "M640-120q-33 0-56.5-23.5T560-200v-160q0-33 23.5-56.5T640-440h160q33 0 56.5 23.5T880-360v160q0 33-23.5 56.5T800-120H640Zm0-80h160v-160H640v160ZM80-240v-80h360v80H80Zm560-280q-33 0-56.5-23.5T560-600v-160q0-33 23.5-56.5T640-840h160q33 0 56.5 23.5T880-760v160q0 33-23.5 56.5T800-520H640Zm0-80h160v-160H640v160ZM80-640v-80h360v80H80Zm640 360Zm0-400Z";
}

.inventory-1-icon {

    -fx-shape: "M620-163 450-333l56-56 114 114 226-226 56 56-282 282Zm220-397h-80v-200h-80v120H280v-120h-80v560h240v80H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h167q11-35 43-57.5t70-22.5q40 0 71.5 22.5T594-840h166q33 0 56.5 23.5T840-760v200ZM508.5-771.5Q520-783 520-800t-11.5-28.5Q497-840 480-840t-28.5 11.5Q440-817 440-800t11.5 28.5Q463-760 480-760t28.5-11.5Z";
}

.calendar-today-icon {

    -fx-shape: "M289-329q-29-29-29-71t29-71q29-29 71-29t71 29q29 29 29 71t-29 71q-29 29-71 29t-71-29ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z";
}

.person-apron-icon {

    -fx-shape: "M367-527q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47ZM160-160v-112q0-34 17-62.5t47-43.5q60-30 124.5-46T480-440q67 0 131.5 16T736-378q30 15 47 43.5t17 62.5v112H160Zm376.5-423.5Q560-607 560-640t-23.5-56.5Q513-720 480-720t-56.5 23.5Q400-673 400-640t23.5 56.5Q447-560 480-560t56.5-23.5ZM640-332v92h80v-32q0-11-5-20t-15-14q-14-8-29.5-14.5T640-332Zm-240-21v53h160v-53q-20-4-40-5.5t-40-1.5q-20 0-40 1.5t-40 5.5ZM240-240h80v-92q-15 5-30.5 11.5T260-306q-10 5-15 14t-5 20v32Zm400 0H320h320ZM480-640Z";
}

.productivity-icon {

    -fx-shape: "M80-320v-112q0-34 17.5-62.5T144-538q62-31 126-46.5T400-600q45 0 89 7t88 22q-17 14-31 30.5T521-505q-30-8-60-11.5t-61-3.5q-56 0-111 13.5T180-466q-9 5-14.5 14t-5.5 20v32h323q-2 20-2 40t2 40H80Zm320-80ZM287-687q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47Zm169.5-56.5Q480-767 480-800t-23.5-56.5Q433-880 400-880t-56.5 23.5Q320-833 320-800t23.5 56.5Q367-720 400-720t56.5-23.5ZM400-800Zm353 113q-47 47-113 47-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T584-952q14-5 28-6.5t28-1.5q66 0 113 47t47 113q0 66-47 113Zm7 527q-83 0-141.5-58.5T560-360q0-84 58.5-142T760-560q84 0 142 58t58 142q0 83-58 141.5T760-160Zm-28-110 141-142-28-28-113 113-57-57-28 29 85 85Z";
}

.box-icon {

    -fx-shape: "M200-640v440h560v-440H640v320l-160-80-160 80v-320H200Zm0 520q-33 0-56.5-23.5T120-200v-499q0-14 4.5-27t13.5-24l50-61q11-14 27.5-21.5T250-840h460q18 0 34.5 7.5T772-811l50 61q9 11 13.5 24t4.5 27v499q0 33-23.5 56.5T760-120H200Zm16-600h528l-34-40H250l-34 40Zm184 80v190l80-40 80 40v-190H400Zm-200 0h560-560Z";
}

.add-alert-icon {

    -fx-shape: "M440-360h80v-80h80v-80h-80v-80h-80v80h-80v80h80v80ZM160-200v-80h80v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v280h80v80H160Zm320-300Zm0 420q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM320-280h320v-280q0-66-47-113t-113-47q-66 0-113 47t-47 113v280Z";
}

.person-cancel-icon {

    -fx-min-height: 22;
    -fx-max-height: 22;
    -fx-pref-height: 22;
    -fx-shape: "m696-440-56-56 83-84-83-83 56-57 84 84 83-84 57 57-84 83 84 84-57 56-83-83-84 83Zm-449-87q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm296.5-343.5Q440-607 440-640t-23.5-56.5Q393-720 360-720t-56.5 23.5Q280-673 280-640t23.5 56.5Q327-560 360-560t56.5-23.5ZM360-640Zm0 400Z";
}

.info-icon {

    -fx-shape: "M440-280h80v-240h-80v240Zm68.5-331.5Q520-623 520-640t-11.5-28.5Q497-680 480-680t-28.5 11.5Q440-657 440-640t11.5 28.5Q463-600 480-600t28.5-11.5ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z";
}

.enterprise-off-icon {

    -fx-shape: "m820-28-92-92H160q-33 0-56.5-23.5T80-200v-440q0-33 23.5-56.5T160-720h80l80 80H160v440h487L28-820l56-56L876-84l-56 56Zm60-166-80-80v-366H434L320-754v-46q0-33 23.5-56.5T400-880h160q33 0 56.5 23.5T640-800v80h160q33 0 56.5 23.5T880-640v446ZM400-720h160v-80H400v80Zm217 263Zm-189 37Z";
}

.done-all-icon {

    -fx-min-height: 22;
    -fx-max-height: 22;
    -fx-pref-height: 22;
    -fx-shape: "M268-240 42-466l57-56 170 170 56 56-57 56Zm226 0L268-466l56-57 170 170 368-368 56 57-424 424Zm0-226-57-56 198-198 57 56-198 198Z";
}

.warning-icon {

    -fx-shape: "m40-120 440-760 440 760H40Zm138-80h604L480-720 178-200Zm330.5-51.5Q520-263 520-280t-11.5-28.5Q497-320 480-320t-28.5 11.5Q440-297 440-280t11.5 28.5Q463-240 480-240t28.5-11.5ZM440-360h80v-200h-80v200Zm40-100Z";
}

.person-remove-icon {

    -fx-shape: "M640-520v-80h240v80H640Zm-393-7q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm296.5-343.5Q440-607 440-640t-23.5-56.5Q393-720 360-720t-56.5 23.5Q280-673 280-640t23.5 56.5Q327-560 360-560t56.5-23.5ZM360-640Zm0 400Z";
}

.schedule-icon {

    -fx-shape: "m612-292 56-56-148-148v-184h-80v216l172 172ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z";
}

/* Botones */

.md-nav-button {

    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-text-fill: -fx-surface;
    -fx-background-radius: 50;
    -fx-padding: 10 24;
    -fx-background-color: transparent;
    -fx-alignment: CENTER-LEFT;
}

.md-nav-button-active {

    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-on-primary;
}

.md-nav-button:hover {

    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.mfx-button.md-button-filled {

    -fx-background-color: -fx-primary;
    -fx-background-radius: 50;
    -fx-text-fill: -fx-on-primary;
    -fx-padding: 10 24;
    -fx-border-width: 1;
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-font-weight: 500;
}

.mfx-button.md-button-filled:hover {

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0, 0, 1);
}

.mfx-button.md-button-filled:pressed {

    -fx-background-color: -fx-primary-container;
    -fx-text-fill: -fx-on-primary-container;
    -fx-effect: none;
}

.mfx-button.md-button-outlined {

    -fx-background-color: transparent;
    -fx-text-fill: -fx-on-surface;
    -fx-border-color: -fx-outline;
    -fx-border-width: 1;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-padding: 10 24;
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-font-weight: 500;
}

.mfx-button.md-button-outlined:hover {

    -fx-background-color: -fx-surface-variant;
}

.mfx-button.md-button-outlined:pressed {

    -fx-background-color: rgba(0, 0, 0, 0.05);
}

.mfx-button.md-button-filled-tonal {

    -fx-background-color: -fx-secondary-container;
    -fx-text-fill: -fx-on-secondary-container;
    -fx-background-radius: 50;
    -fx-padding: 10 24;
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-font-weight: 500;
}

.mfx-button.md-button-filled-tonal:hover {

    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-on-secondary;
}

.mfx-button.md-button-filled-tonal:pressed {

    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-on-secondary;
}

/* Estadisticas */

.md-card {

    -fx-background-color: -fx-surface-container;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0, 0, 2);
    -fx-background-radius: 24;
    -fx-padding: 16;
}

.md-stat-value {

    -fx-font-family: "Roboto";
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-on-surface;
}

.md-stat-label {

    -fx-font-family: "Roboto";
    -fx-font-size: 13px;
    -fx-font-weight: normal;
    -fx-text-fill: -fx-on-surface-variant;
}

.md-stat-trend-label {

    -fx-font-family: "Roboto";
    -fx-font-size: 11px;
    -fx-font-weight: normal;
    -fx-text-fill: -fx-on-surface-variant;
}

/* Tendencias de estadísticas */
.md-stat-trend-positive {

    -fx-font-family: "Roboto";
    -fx-font-size: 12px;
    -fx-font-weight: 500;
    -fx-text-fill: -fx-positive-trend;
}

.md-stat-trend-negative {

    -fx-font-family: "Roboto";
    -fx-font-size: 12px;
    -fx-font-weight: 500;
    -fx-text-fill: -fx-negative-trend;
}

.md-stat-trend-neutral {

    -fx-font-family: "Roboto";
    -fx-font-size: 12px;
    -fx-font-weight: 500;
    -fx-text-fill: -fx-neutral-trend;
}

/* Tarjetas de acción */

.md-action-card {

    -fx-background-radius: 16;
    -fx-background-color: -fx-surface-container-high;
    -fx-padding: 16;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0, 0, 2);
}

.md-action-title {

    -fx-font-family: "Roboto";
    -fx-font-weight: 500;
    -fx-font-size: 18px;
    -fx-text-fill: -fx-on-surface;
}

.md-action-subtitle {

    -fx-font-family: "Roboto";
    -fx-font-size: 12px;
    -fx-font-weight: 400;
    -fx-text-fill: -fx-on-surface-variant;
}

.md-action-button-container {

    -fx-spacing: 16;
    -fx-alignment: bottom-right;
}

.md-stat-card-container {

    -fx-spacing: 16;
    -fx-alignment: center-left;
}

.md-action-label-container {
    -fx-alignment: center_left;
    -fx-spacing: 8;
}

/* Item de lista */

.md-recent-activity-card {

    -fx-spacing: 16;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 6, 0, 0, 2);
}

.md-activity-icon {

    -fx-min-width: 32;
    -fx-max-width: 32;
    -fx-pref-width: 32;
    -fx-min-height: 32;
    -fx-max-height: 32;
    -fx-pref-height: 32;
}

.md-list-item {

    -fx-background-radius: 32;
    -fx-background-color: -fx-surface;
    -fx-spacing: 16;
    -fx-padding: 16 24 16 24;
    -fx-alignment: center-left;
    -fx-effect: -fx-elevation-2;
}

.md-list-item-title {

    -fx-font-family: "Roboto";
    -fx-font-weight: 500;
    -fx-font-size: 14px;
    -fx-text-fill: -fx-on-surface;
}

.md-list-item-content {

    -fx-spacing: 4;
    -fx-alignment: center-left;
}

.md-list-item-subtitle {

    -fx-font-family: "Roboto";
    -fx-font-weight: 400;
    -fx-font-size: 12px;
    -fx-text-fill: -fx-on-surface-variant;
}

.md-list-item-leading {

    -fx-min-width: 80px;
    -fx-max-width: 80px;
    -fx-pref-width: 80px;
    -fx-alignment: center;
}

.md-list-item-leading-text {

    -fx-font-family: "Roboto";
    -fx-font-weight: 400;
    -fx-font-size: 16px;
    -fx-text-fill: -fx-on-surface-variant;
}

.md-badge {
    -fx-background-color: -fx-secondary-container;
    -fx-background-radius: 50;
    -fx-padding: 2 8 2 8;
    -fx-alignment: center;
    -fx-border-width: 1px;
    -fx-border-color: -fx-outline-variant;
    -fx-border-radius: 50;
}

.md-badge-scheduled {
    -fx-background-color: -fx-primary-container;
    -fx-text-fill: -fx-on-primary-container;
}

.md-badge-completed {
    -fx-background-color: -fx-secondary-container;
    -fx-text-fill: -fx-on-secondary-container;
}

.md-badge-canceled {
    -fx-background-color: -fx-error;
    -fx-text-fill: -fx-on-error;
}

.md-initials {

    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* Textfields */

.md-textfield-outlined {

    -fx-background-color: transparent;
    -fx-border-radius: 8;
    -fx-padding: 8 12 8 12;
    -fx-spacing: 8;
    -fx-border-color: -fx-outline;
    -fx-border-width: 1px;
    -fx-text-fill: -fx-on-surface;
}

.md-textfield-outlined:hover {

    -fx-border-color: -fx-primary;
}

.md-textfield-outlined:focused {

    -fx-border-color: -fx-primary;
    -fx-border-width: 2px;
}