.root {

    /* Recordatorio:
    Los colores de este archivo funcionan bien cuando
    se hace referencia llamando a la variable de color
    pero los radios, bordes, tamaños, etc; deben ser
    configurados con el valor numérico directamente
     */

    -fx-shape-none: 0px;
    -fx-shape-extra-small: 4px;
    -fx-shape-small: 8px;
    -fx-shape-medium: 12px;
    -fx-shape-large: 16px;
    -fx-shape-extra-large: 28px;
    -fx-shape-full: 50px;

    -fx-elevation-1: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 3, 0, 0, 1);
    -fx-elevation-2: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 6, 0, 0, 2);
    -fx-elevation-3: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0, 0, 3);

    -fx-space-xs: 4px;
    -fx-space-sm: 8px;
    -fx-space-md: 16px;
    -fx-space-lg: 24px;
    -fx-space-xl: 32px;
    -fx-space-xxl: 48px;

    -fx-font-family-base: "Roboto", sans-serif;

    -fx-font-size-label-large: 14px;
    -fx-font-weight-label-large: 500;
}

/* Titulo, subtitulo y logo */

.md-logo-section {

    -fx-spacing: 4;
    -fx-padding: 32 0 32 0;
}

.md-brand-title {

    -fx-text-fill: -fx-on-surface;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 22px;
}

.md-brand-subtitle {

    -fx-text-fill: -fx-on-surface;
    -fx-font-family: "Roboto";
    -fx-font-weight: 300;
    -fx-font-size: 12px;
}

/* Contenido principal */

.md-main-content {

    -fx-background-color: -fx-surface;
}

.md-page-title {

    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-text-fill: -fx-on-surface;
}

.md-page-subtitle {

    -fx-font-family: "Roboto";
    -fx-font-weight: 400;
    -fx-font-size: 14px;
    -fx-text-fill: -fx-on-surface-variant;
}

.md-section-title {

    -fx-font-family: "Roboto";
    -fx-font-weight: 500;
    -fx-font-size: 18px;
    -fx-text-fill: -fx-on-surface;
}

.md-sidebar {

    -fx-alignment: top-center;
    -fx-max-width: 280;
    -fx-min-width: 280;
    -fx-background-color: linear-gradient(to bottom, -fx-surface-container-low, -fx-surface);
}

.md-navbar-button-container {

    -fx-padding: 24;
    -fx-spacing: 4;
    -fx-alignment: top-center;
}

.md-menu-separator {

    -fx-background-color: -fx-outline-variant;
}

.md-menu-separator .line {

    -fx-border-color: -fx-outline-variant transparent transparent transparent;
}

.md-grid-pane {

    -fx-hgap: 16;
    -fx-vgap: 16;
}

.md-content-section {

    -fx-spacing: 24;
}

.md-section-group {

    -fx-spacing: 16;
}

.md-header-bar {

    -fx-padding: 24 32 24 32;
    -fx-alignment: center-left;
    -fx-spacing: 24;
}

.md-heading-group {

    -fx-spacing: 8;
    -fx-alignment: center-left;
}

.md-content-scroll {

    -fx-padding: 24;
    -fx-background-color: transparent;
}

.md-content-scroll .viewport {

    -fx-background-color: transparent;
}

.md-action-card-icon {
    -fx-min-width: 32;
    -fx-max-width: 32;
    -fx-pref-width: 32;
    -fx-min-height: 32;
    -fx-max-height: 32;
    -fx-pref-height: 32;
    -fx-background-color: -fx-on-surface;
    -fx-scale-shape: true;
}

.md-filter-column {

    -fx-spacing: 8;
    -fx-alignment: center-left;
}

.md-filter-spacer {

    -fx-spacing: 4;
}

.md-image-preview-container {

    -fx-padding: 16;
    -fx-border-radius: 8;
    -fx-background-color: -fx-surface;
}

.md-image-placeholder {

    -fx-pref-width: 150px;
    -fx-pref-height: 150px;
}

.md-text-field {

    -fx-background-color: transparent;
    -fx-border-color: -fx-on-surface-variant;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 8 12;
    -fx-font-family: "Roboto", "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: -fx-on-surface;
    -fx-prompt-text-fill: -fx-on-surface-variant;
}

.md-text-field:hover {

    -fx-border-color: -fx-on-surface;
}

.md-text-field:focused {

    -fx-border-color: -fx-primary;
    -fx-border-width: 2px;
    -fx-padding: 7 11;
}

.md-combo-box {

    -fx-background-color: transparent;
    -fx-border-color: -fx-on-surface-variant;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 5 12;
    -fx-font-family: "Roboto", "Segoe UI", sans-serif;
    -fx-font-size: 14px;
}

.md-combo-box:hover {

    -fx-border-color: -fx-on-surface;
}

.md-combo-box:focused {

    -fx-border-color: -fx-primary;
    -fx-border-width: 2px;
    -fx-padding: 4 11;
}

.md-combo-box .list-cell {

    -fx-text-fill: -fx-on-surface;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.md-combo-box .arrow-button {

    -fx-background-color: transparent;
    -fx-padding: 0 0 0 8;
}

.md-combo-box .arrow {

    -fx-background-color: -fx-on-surface-variant;
}

.md-combo-box .list-view {

    -fx-background-color: -fx-surface-container;
    -fx-background-radius: 4px;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 8, 0.0, 0, 2);
    -fx-padding: 4 0;
}

.md-combo-box .list-view .list-cell {

    -fx-padding: 10 12;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-on-surface;
}

.md-combo-box .list-view .list-cell:hover {

    -fx-background-color: -fx-surface-variant;
}

.md-combo-box .list-view .list-cell:selected {

    -fx-background-color: -fx-secondary-container;
    -fx-text-fill: -fx-on-secondary-container;
}

.md-date-picker {

    -fx-background-color: transparent;
    -fx-border-color: -fx-on-surface-variant;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-font-family: "Roboto", "Segoe UI", sans-serif;
    -fx-font-size: 14px;
}

.md-date-picker:hover {

    -fx-border-color: -fx-on-surface;
}

.md-date-picker:focused,
.md-date-picker:contains-focus {

    -fx-border-color: -fx-primary;
    -fx-border-width: 2px;
}

.md-date-picker .text-field {

    -fx-background-color: transparent;
    -fx-padding: 8 12;
    -fx-text-fill: -fx-on-surface;
    -fx-prompt-text-fill: -fx-on-surface-variant;
}

.md-date-picker .arrow-button {

    -fx-background-color: transparent;
    -fx-padding: 0 12 0 0;
}

.md-date-picker .arrow-button .arrow {

    -fx-background-color: -fx-on-surface-variant;
}

.date-picker-popup {

    -fx-background-color: -fx-surface-container;
    -fx-background-radius: 12px;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 4);
}

.date-picker-popup .month-year-pane {

    -fx-background-color: transparent;
    -fx-padding: 12 8 12 8;
}

.date-picker-popup .month-year-pane .label {

    -fx-text-fill: -fx-on-surface;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.date-picker-popup .calendar-grid {

    -fx-background-color: transparent;
}

.date-picker-popup .month-year-pane .left-button .left-arrow,
.date-picker-popup .month-year-pane .right-button .right-arrow {

    -fx-background-color: -fx-on-surface-variant;
}

.date-picker-popup .month-year-pane .left-button:hover .left-arrow,
.date-picker-popup .month-year-pane .right-button:hover .right-arrow {

    -fx-background-color: -fx-on-surface;
}

.date-picker-popup .day-name-cell {

    -fx-text-fill: -fx-on-surface-variant;
    -fx-font-size: 12px;
    -fx-padding: 8 0 8 0;
}

.date-picker-popup .day-cell {

    -fx-background-color: transparent;
    -fx-text-fill: -fx-on-surface !important;
    -fx-padding: 6 8;
    -fx-background-radius: 100px;
}

.date-picker-popup .day-cell:hover {

    -fx-background-color: -fx-surface-variant;
}

.date-picker-popup .day-cell:today {

    -fx-border-color: -fx-primary;
    -fx-border-radius: 100px;
    -fx-border-width: 1px;
}

.date-picker-popup .day-cell:selected {

    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-on-primary;
    -fx-font-weight: bold;
}

.md-check-box {

    -fx-text-fill: -fx-on-surface;
    -fx-font-family: "Roboto", "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-label-padding: 0 0 0 8;
    -fx-cursor: hand;
}

.md-check-box .box {

    -fx-background-color: transparent;
    -fx-border-color: -fx-on-surface-variant;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-padding: 2;
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
}

.md-check-box:hover .box {

    -fx-border-color: -fx-on-surface;
}

.md-check-box:selected .box {

    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-primary;
}

.md-check-box .mark {

    -fx-background-color: transparent;
}

.md-check-box:selected .mark {

    -fx-background-color: -fx-on-primary;
}

.md-check-box:focused .box {

    -fx-border-color: -fx-primary;
}

.md-check-box:disabled {

    -fx-opacity: 0.5;
}

.md-radio-button {

    -fx-text-fill: -fx-on-surface;
    -fx-font-family: "Roboto", "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-label-padding: 0 0 0 8;
    -fx-cursor: hand;
}

.md-radio-button .radio {

    -fx-background-color: transparent;
    -fx-border-color: -fx-on-surface-variant;
    -fx-border-width: 2px;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-alignment: center;
    -fx-padding: 4;
    -fx-border-insets: 0;
}

.md-radio-button:hover .radio {

    -fx-border-color: -fx-on-surface;
}

.md-radio-button:selected .radio {

    -fx-border-color: -fx-primary;
}

.md-radio-button .dot {

    -fx-background-color: transparent;
    -fx-background-radius: 100px;
    -fx-padding: 5;
    -fx-border-insets: 0;
}

.md-radio-button:selected .dot {

    -fx-background-color: -fx-primary;
}

.md-radio-button:focused .radio {

    -fx-border-color: -fx-primary;
}

.md-radio-button:disabled {

    -fx-opacity: 0.5;
}

.md-filter-label {

    -fx-font-family: "Roboto";
    -fx-font-weight: 400;
    -fx-text-fill: -fx-on-surface;
    -fx-font-size: 12px;
}

.md-searchfield-container {

    -fx-spacing: 8;
    -fx-padding: 8;
    -fx-alignment: center-left;
}

.md-filter-card {

    -fx-background-color: -fx-surface-variant;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-spacing: 24;
    -fx-padding: 16;
}

.md-filter-container {

    -fx-spacing: 24;
    -fx-alignment: bottom-left;
}

.md-avatar-circle {

    -fx-background-color: -fx-surface-variant;
    -fx-border-radius: 28;
}

.dialog-pane {

    -fx-background-color: -fx-surface;
    -fx-background-radius: 28px;
    -fx-border-radius: 28px;
    -fx-padding: 16px;
}

.dialog-pane .header-panel {

    -fx-background-color: transparent;
}

.dialog-pane .content {

    -fx-font-size: 14px;
    -fx-text-fill: -fx-on-surface;
}

.dialog-pane > .button-bar > .container {

    -fx-padding: 16px 0 0 0;
}

.dialog-pane .button {

    -fx-background-color: transparent;
    -fx-text-fill: -fx-primary;
    -fx-font-weight: bold;
    -fx-padding: 8px 12px;
    -fx-cursor: hand;
}

.dialog-pane .button:hover {

    -fx-background-color: -fx-primary-container;
    -fx-background-radius: 20px;
}

/* Botones */

.md-nav-button {

    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-text-fill: -fx-on-surface;
    -fx-background-radius: 50;
    -fx-padding: 10 24;
    -fx-background-color: transparent;
    -fx-alignment: center-left;
}

.md-nav-button-active {

    -fx-background-color: -fx-secondary-container;
    -fx-text-fill: -fx-on-secondary-container;
}

.md-nav-button:hover {

    -fx-background-color: -fx-surface-variant;
}

.mfx-button.md-button-filled {

    -fx-background-color: -fx-primary;
    -fx-background-radius: 50;
    -fx-text-fill: -fx-on-primary;
    -fx-padding: 10 24;
    -fx-border-width: 1;
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-font-weight: 500;
}

.mfx-button.md-button-filled:hover {

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0, 0, 1);
}

.mfx-button.md-button-filled:pressed {

    -fx-background-color: -fx-primary-container;
    -fx-text-fill: -fx-on-primary-container;
    -fx-effect: none;
}

.mfx-button.md-button-outlined {

    -fx-background-color: transparent;
    -fx-text-fill: -fx-on-surface;
    -fx-border-color: -fx-outline;
    -fx-border-width: 1;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-padding: 10 24;
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-font-weight: 500;
}

.mfx-button.md-button-outlined:hover {

    -fx-background-color: -fx-surface-variant;
}

.mfx-button.md-button-outlined:pressed {

    -fx-background-color: -fx-surface-container-high;
}

.mfx-button.md-button-filled-tonal {

    -fx-background-color: -fx-secondary-container;
    -fx-text-fill: -fx-on-secondary-container;
    -fx-background-radius: 50;
    -fx-padding: 10 24;
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-font-weight: 500;
}

.mfx-button.md-button-filled-tonal:hover {

    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-on-secondary;
}

.mfx-button.md-button-filled-tonal:pressed {

    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-on-secondary;
}

/* Estadisticas */

.md-card {

    -fx-background-color: -fx-surface-container;
    -fx-effect: -fx-elevation-2;
    -fx-background-radius: 24;
    -fx-padding: 16;
}

.md-stat-value {

    -fx-font-family: "Roboto";
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-on-surface;
}

.md-stat-label {

    -fx-font-family: "Roboto";
    -fx-font-size: 13px;
    -fx-font-weight: normal;
    -fx-text-fill: -fx-on-surface-variant;
}

.md-stat-trend-label {

    -fx-font-family: "Roboto";
    -fx-font-size: 11px;
    -fx-font-weight: normal;
    -fx-text-fill: -fx-on-surface-variant;
}

/* Tendencias de estadísticas */
.md-stat-trend-positive {

    -fx-font-family: "Roboto";
    -fx-font-size: 12px;
    -fx-font-weight: 500;
    -fx-text-fill: -fx-positive-trend;
}

.md-stat-trend-negative {

    -fx-font-family: "Roboto";
    -fx-font-size: 12px;
    -fx-font-weight: 500;
    -fx-text-fill: -fx-negative-trend;
}

.md-stat-trend-neutral {

    -fx-font-family: "Roboto";
    -fx-font-size: 12px;
    -fx-font-weight: 500;
    -fx-text-fill: -fx-neutral-trend;
}

/* Tarjetas de acción */

.md-action-card {

    -fx-background-radius: 16;
    -fx-background-color: -fx-surface-container-high;
    -fx-padding: 16;
    -fx-effect: -fx-elevation-1;
}

.md-action-title {

    -fx-font-family: "Roboto";
    -fx-font-weight: 500;
    -fx-font-size: 18px;
    -fx-text-fill: -fx-on-surface;
}

.md-action-subtitle {

    -fx-font-family: "Roboto";
    -fx-font-size: 12px;
    -fx-font-weight: 400;
    -fx-text-fill: -fx-on-surface-variant;
}

.md-action-button-container {

    -fx-spacing: 16;
    -fx-alignment: bottom-right;
}

.md-stat-card-container {

    -fx-spacing: 16;
    -fx-alignment: center-left;
}

.md-action-label-container {
    -fx-alignment: center-left;
    -fx-spacing: 8;
}

/* Item de lista */

.md-recent-activity-card {

    -fx-spacing: 16;
    -fx-effect: -fx-elevation-1;
}

.md-activity-icon {

    -fx-min-width: 32;
    -fx-max-width: 32;
    -fx-pref-width: 32;
    -fx-min-height: 32;
    -fx-max-height: 32;
    -fx-pref-height: 32;
}

.md-list-item {

    -fx-background-radius: 32;
    -fx-background-color: -fx-surface;
    -fx-spacing: 16;
    -fx-padding: 16 24 16 24;
    -fx-alignment: center-left;
    -fx-effect: -fx-elevation-1;
}

.md-list-item-title {

    -fx-font-family: "Roboto";
    -fx-font-weight: 500;
    -fx-font-size: 14px;
    -fx-text-fill: -fx-on-surface;
}

.md-list-item-content {

    -fx-spacing: 4;
    -fx-alignment: center-left;
}

.md-list-item-subtitle {

    -fx-font-family: "Roboto";
    -fx-font-weight: 400;
    -fx-font-size: 12px;
    -fx-text-fill: -fx-on-surface-variant;
}

.md-list-item-leading {

    -fx-min-width: 80px;
    -fx-max-width: 80px;
    -fx-pref-width: 80px;
    -fx-alignment: center;
}

.md-list-item-leading-text {

    -fx-font-family: "Roboto";
    -fx-font-weight: 400;
    -fx-font-size: 16px;
    -fx-text-fill: -fx-on-surface-variant;
}

.md-badge {
    -fx-background-color: -fx-secondary-container;
    -fx-background-radius: 50;
    -fx-padding: 2 8 2 8;
    -fx-alignment: center;
    -fx-border-width: 1px;
    -fx-border-color: -fx-outline-variant;
    -fx-border-radius: 50;
}

.md-badge-scheduled {
    -fx-background-color: -fx-primary-container;
    -fx-text-fill: -fx-on-primary-container;
}

.md-badge-completed {
    -fx-background-color: -fx-secondary-container;
    -fx-text-fill: -fx-on-secondary-container;
}

.md-badge-canceled {
    -fx-background-color: -fx-error;
    -fx-text-fill: -fx-on-error;
}

.md-initials {

    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* Textfields */

.md-textfield-outlined {

    -fx-background-color: transparent;
    -fx-border-radius: 8;
    -fx-padding: 8 12 8 12;
    -fx-spacing: 8;
    -fx-border-color: -fx-outline;
    -fx-border-width: 1px;
    -fx-text-fill: -fx-on-surface;
}

.md-textfield-outlined:hover {

    -fx-border-color: -fx-primary;
}

.md-textfield-outlined:focused {

    -fx-border-color: -fx-primary;
    -fx-border-width: 2px;
}