.root {
  -fx-primary: #e1c46d;
  -fx-surface-tint: #e1c46d;
  -fx-on-primary: #3c2f00;
  -fx-primary-container: #574500;
  -fx-on-primary-container: #ffe086;
  -fx-secondary: #d4c5a1;
  -fx-on-secondary: #383016;
  -fx-secondary-container: #50462a;
  -fx-on-secondary-container: #f1e1bb;
  -fx-tertiary: #accfaf;
  -fx-on-tertiary: #183720;
  -fx-tertiary-container: #2f4e35;
  -fx-on-tertiary-container: #c8ecca;
  -fx-error: #ffb4ab;
  -fx-on-error: #690005;
  -fx-error-container: #93000a;
  -fx-on-error-container: #ffdad6;
  -fx-background: #121212;
  -fx-on-background: #eae2d4;
  -fx-surface: #121212;
  -fx-on-surface: #eae2d4;
  -fx-surface-variant: #4c4639;
  -fx-on-surface-variant: #cec6b4;
  -fx-outline: #979080;
  -fx-outline-variant: #4c4639;
  -fx-shadow: #000000;
  -fx-scrim: #000000;
  -fx-inverse-surface: #eae2d4;
  -fx-inverse-on-surface: #343027;
  -fx-inverse-primary: #725c0c;
  -fx-surface-dim: #16130b;
  -fx-surface-bright: #3d392f;
  -fx-surface-container-lowest: #000000;
  -fx-surface-container-low: #1e1b13;
  -fx-surface-container: #1e1e1e;
  -fx-surface-container-high: #2d2a21;
  -fx-surface-container-highest: #38342b;
}