.root {
    -fx-primary: #7a5e18;
    -fx-surface-tint: #7a5e18;
    -fx-on-primary: #ffffff;
    -fx-primary-container: #ffe086;
    -fx-on-primary-container: #574500;
    -fx-secondary: #685e3f;
    -fx-on-secondary: #ffffff;
    -fx-secondary-container: #f1e1bb;
    -fx-on-secondary-container: #50462a;
    -fx-tertiary: #46664b;
    -fx-on-tertiary: #ffffff;
    -fx-tertiary-container: #c8ecca;
    -fx-on-tertiary-container: #2f4e35;
    -fx-error: #ba1a1a;
    -fx-on-error: #ffffff;
    -fx-error-container: #ffdad6;
    -fx-on-error-container: #93000a;
    -fx-background: #fff8f0;
    -fx-on-background: #1e1b13;
    -fx-surface: #fff8f0;
    -fx-on-surface: #1e1b13;
    -fx-surface-variant: #ebe2cf;
    -fx-on-surface-variant: #4c4639;
    -fx-outline: #7d7667;
    -fx-outline-variant: #cec6b4;
    -fx-shadow: #000000;
    -fx-scrim: #000000;
    -fx-inverse-surface: #343027;
    -fx-inverse-on-surface: #f8f0e2;
    -fx-inverse-primary: #e1c46d;
    -fx-surface-dim: #e1d9cc;
    -fx-surface-bright: #fff8f0;
    -fx-surface-container-lowest: #ffffff;
    -fx-surface-container-low: #fbf3e5;
    -fx-surface-container: #f5eddf;
    -fx-surface-container-high: #efe7da;
    -fx-surface-container-highest: #eae2d4;
}
