.root {
    /* Primarios */
    -fx-primary: #D0BCFF;
    -fx-on-primary: #381E72;
    -fx-primary-container: #4F378B;
    -fx-on-primary-container: #EADDFF;

    /* Secundarios */
    -fx-secondary: #CCC2DC;
    -fx-on-secondary: #332D41;
    -fx-secondary-container: #4A4458;
    -fx-on-secondary-container: #E8DEF8;

    /* Superficies y Fondos */
    -fx-surface: #141218;
    -fx-surface-variant: #49454F;
    -fx-on-surface: #E6E0E9;
    -fx-on-surface-variant: #CAC4D0;

    /* Contenedores de Superficie */
    -fx-surface-container-low: #1D1B20;
    -fx-surface-container: #211F26;
    -fx-surface-container-high: #2B2930;

    /* Utilidades */
    -fx-outline: #938F99;
    -fx-outline-variant: #49454F;
    -fx-error: #F2B8B5;
    -fx-on-error: #601410;

    /* Tendencias de estadísticas */
    -fx-positive-trend: #5CE65C; /* Verde claro para brillar en fondo oscuro */
    -fx-negative-trend: #FFB4AB;
    -fx-neutral-trend: #E6E0E9;

    /* Enlace con MaterialFX */
    -mfx-main: -fx-primary;
}