.root {
    /* Primarios */
    -fx-primary: #6750A4;
    -fx-on-primary: #FFFFFF;
    -fx-primary-container: #EADDFF;
    -fx-on-primary-container: #21005D;

    /* Secundarios */
    -fx-secondary: #625B71;
    -fx-on-secondary: #FFFFFF;
    -fx-secondary-container: #E8DEF8;
    -fx-on-secondary-container: #1D192B;

    /* Superficies y Fondos */
    -fx-surface: #FEF7FF;
    -fx-surface-variant: #E7E0EC;
    -fx-on-surface: #1D1B20;
    -fx-on-surface-variant: #49454F;

    /* Contenedores de Superficie */
    -fx-surface-container-low: #F7F2FA;
    -fx-surface-container: #F3EDF7;
    -fx-surface-container-high: #ECE6F0;

    /* Utilidades */
    -fx-outline: #79747E;
    -fx-outline-variant: #CAC4D0;
    -fx-error: #B3261E;
    -fx-on-error: #FFFFFF;

    /* Tendencias de estadísticas */
    -fx-positive-trend: #1EA01E; /* Verde oscuro para contraste en fondo claro */
    -fx-negative-trend: #B3261E;
    -fx-neutral-trend: #1D1B20;

    /* Enlace con MaterialFX */
    -mfx-main: -fx-primary;
}